<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublicKey" value="yourkeyhere"/>
    <add key="PrivateKey" value="yourkeyhere"/>
    <add key="Url" value="https://payments.sandbox.braintree-api.com/graphql"/>
    <add key="Version" value="03-25-2020" />
  </appSettings>
</configuration>